<html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width">
</head>
<!-- 背景画像 下記サイトおすすめです HTML 背景画像パターンとかでも出てくる-->
<!-- http://www.dinpattern.com/ 派手なものがおおい-->
<!-- https://www.toptal.com/designers/subtlepatterns/  ここかわいい感じ-->
<body background="https://www.toptal.com/designers/subtlepatterns/uploads/45degreee_fabric.png">
    <div class="container" style="max-width: 600px;">
        <div class="row h-100 align-items-center">
            <div class="col">
                <div class="card text-center m-1 text-white" style="background-color:#36393F;">
                    <h3 class="card-header">Your IP Address is blacklisted.</h3>
                    <div class="card-body">
                        <h5 class="card-text mt-2">あなたのIPアドレスはブラックリストに<br>入っているため認証できませんでした。</h5>
                        <div class="d-grid gap-2 mt-4">
                            <!-- 好きなリンク鯖の招待URL 自分のwebサイトとか？好きなもの -->
                            <a href="https://discord.com/channels/@me" class="btn btn-lg btn-primary m-2"  role="button">Discordに戻る</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>
</html>
